@model AKR_LANDED_COST_FAME.Areas.MasterData.Models.BudgetHandlingViewModel

<div class="k-edit-form-container">
    <div class="k-edit-label">
        Entity
    </div>
    <div class="k-edit-field">
        @(Html.Kendo().DropDownListFor(m=>m.EntityCode)
            .OptionLabel("Select")
            .Filter("contains")
            .DataValueField("Value")
            .DataTextField("Text")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetEntity", "BudgetHandling");
                })
                .ServerFiltering(false);
            })
            .HtmlAttributes(new { style = "width:100%"}))
    </div>
    <div class="k-edit-label">
        Tipe Costing
    </div>
    <div class="k-edit-field">
        @Html.Kendo().TextBoxFor(model => model.TipeCosting).HtmlAttributes(new { style = "width:100%;", maxlength = "50" })
    </div>
    <div class="k-edit-label">
        Komponen Biaya
    </div>
    <div class="k-edit-field">
        @(Html.Kendo().DropDownListFor(model => model.KomponenBiayaID)
            .Filter("contains")
            .OptionLabel("Select")
            .DataTextField("Text")
            .DataValueField("Value")
            .DataSource(source => {
                source.Read(read => read.Action("GetKomponenBiaya", "BudgetHandling")).ServerFiltering(false);
            })
            .HtmlAttributes(new { style = "width:100%", required = "required" }))
    </div>
    <div class="k-edit-label">
        Tariff
    </div>
    <div class="k-edit-field">
        @Html.Kendo().NumericTextBoxFor(model => model.Tariff).HtmlAttributes(new { style = "width:100%;" }).Decimals(5).Format("n5")
    </div>
</div>